<!DOCTYPE html>
<html>
    
    <head>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/main.css">
        <script src='https://www.google.com/recaptcha/api.js'></script>
        
        
        <title>VanTopics</title>
        
    </head>
    
    <body>
        
        <div class="container">
        
            <nav class="border sticky-top navbar navbar-dark navbar-expand-lg bg-dark">
                <!--navbar-expand here is important! it is used to make the collapse work-->
                
                <a class="navbar-brand" href="/">VanTopics</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="menu">
                    
                    <ul class="navbar-nav mr-auto">
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">後台主頁</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">文章</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/posts/new">發佈新文章</a>
                                <a class="dropdown-item" href="/admin">所有文章</a>
                                <a class="dropdown-item" href="/admin/categories">所有文章分類</a>
                            </div>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="#">更新個人資料</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/contact">查看留言</a>
                        </li>
                        
                    </ul>
                        
                    <ul class="navbar-nav">
                        
                        <li class="nav-item mr">
                            <a class="nav-link" href="/admin/logout">登出</a>
                        </li>
                        
                    </ul>
                    
                </div>
                
            </nav>
        
        </div>
        
        <% if(error && error.length > 0){ %> 
            <div class="container">
            <!--even error is an empty array, it's still true-->
            <!--but we still need to check if error exists so as to prevent any errors jump out when we forget to set up res.locals in app.js-->
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>    
            </div>
        <% } %>
        <% if(success && success.length > 0){ %> 
            <div class="container">
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            </div>
        <% } %>
        
        <div class="container">