<!DOCTYPE html>
<html>
    
    <head>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/main.css">
        <link rel="icon" href="https://scontent.fyvr4-1.fna.fbcdn.net/v/t1.0-9/42808511_911551529039647_1213487716075831296_n.png?_nc_cat=108&oh=879eb642dadaa8d146b58e477d342ff2&oe=5C2799BC" type="image/png" sizes="16x16 32x32"> 
        <script src='https://www.google.com/recaptcha/api.js'></script>
        
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({
                  google_ad_client: "ca-pub-9348282241661887",
                  enable_page_level_ads: true
             });
        </script>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83588993-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-83588993-1');
        </script>

        
        <title>VanTopics</title>
        
    </head>
    
    <body>
        
        <div class="container">
        
            <nav class="border sticky-top navbar navbar-light navbar-expand-lg bg-light">
                <!--navbar-expand here is important! it is used to make the collapse work-->
                
                <a class="navbar-brand" href="/">VanTopics</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="menu">
                    
                    <ul class="navbar-nav mr-auto">
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">文章分類</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/categories">所有文章分類</a>
                                <% categories.forEach(function(category){ %>
                                    <a class="dropdown-item" href="/categories/<%= category._id %>"><%= category.name %></a>
                                <% }); %>
                            </div>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/about">關於本站</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">聯絡站長</a>
                        </li>
                        
                        <% if(currentUser){ %>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">返回後台</a>
                            </li>
                        <% } %>
                        
                    </ul>
                    
                    <gcse:search></gcse:search>
                    
                </div>
                
            </nav>
        
        </div>
        
        <!--refer to app.js for res.locals-->
        
        <% if(error && error.length > 0){ %> 
            <div class="container">
            <!--even error is an empty array, it's still true-->
            <!--but we still need to check if error exists so as to prevent any errors jump out when we forget to set up res.locals in app.js-->
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>    
            </div>
        <% } %>
        <% if(success && success.length > 0){ %> 
            <div class="container">
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            </div>
        <% } %>
        
        
        <div class="container">
        
            <div class="row d-flex">
                
                <div class="col-md-2 col-sm-12 order-md-last">
                    <div class="sticky-top">
                        <script type="text/javascript">
                            var w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
                            if(w >= 768){
                                google_ad_client = "ca-pub-9348282241661887";
                                google_ad_slot = "4197936282";
                                google_ad_width = 160;
                                google_ad_height = 600;
                            } else {
                                google_ad_client = "ca-pub-9348282241661887";
                                google_ad_slot = "9716697255";
                                google_ad_width = 300;
                                google_ad_height = 250;
                            }
                        </script>

                        <script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js">
                        </script>
                    </div>
                    
                </div>
                
                <div class="col-md-10 col-sm-12 order-md-first">

