<!DOCTYPE html>
<html>
    
    <head>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/main.css">
        <script src='https://www.google.com/recaptcha/api.js'></script>
        
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({
                  google_ad_client: "ca-pub-9348282241661887",
                  enable_page_level_ads: true
             });
        </script>
        
        <title>VanTopics</title>
        
    </head>
    
    <body>
        
        <div class="container">
        
            <nav class="border sticky-top navbar navbar-light navbar-expand-lg bg-light">
                <!--navbar-expand here is important! it is used to make the collapse work-->
                
                <a class="navbar-brand" href="/">VanTopics</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="menu">
                    
                    <ul class="navbar-nav mr-auto">
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">文章分類</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/categories">所有文章分類</a>
                                <% categories.forEach(function(category){ %>
                                    <a class="dropdown-item" href="/categories/<%= category._id %>"><%= category.name %></a>
                                <% }); %>
                            </div>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/about">關於本站</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">聯絡站長</a>
                        </li>
                        
                        <% if(currentUser){ %>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">返回後台</a>
                            </li>
                        <% } %>
                        
                    </ul>
                    
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="搜一下" aria-label="search">
                        <button class="btn btn-outline-dark my-2 my-sm-0">搜！</button>
                    </form>
                    
                </div>
                
            </nav>
        
        </div>
        
        <!--refer to app.js for res.locals-->
        
        <% if(error && error.length > 0){ %> 
            <div class="container">
            <!--even error is an empty array, it's still true-->
            <!--but we still need to check if error exists so as to prevent any errors jump out when we forget to set up res.locals in app.js-->
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>    
            </div>
        <% } %>
        <% if(success && success.length > 0){ %> 
            <div class="container">
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            </div>
        <% } %>
        
        
        <div class="container">
        
            <div class="row">
                
                <div class="col-md-3 col-sm-12 order-md-last">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- wide skyscrapper -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:160px;height:600px"
                         data-ad-client="ca-pub-9348282241661887"
                         data-ad-slot="4197936282"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                
                <div class="col-md-9 col-sm-12 order-md-first">

