<!DOCTYPE html>
<html>
    
    <head>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/main.css">
        <script src='https://www.google.com/recaptcha/api.js'></script>
        
        <title>VanTopics</title>
        
    </head>
    
    <body>
        
        <div class="container">
        
            <nav class="border sticky-top navbar navbar-light navbar-expand-lg bg-light">
                <!--navbar-expand here is important! it is used to make the collapse work-->
                
                <a class="navbar-brand" href="/">VanTopics</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="menu">
                    
                    <ul class="navbar-nav mr-auto">
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">文章分類</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/categories">所有文章分類</a>
                                <% categories.forEach(function(category){ %>
                                    <a class="dropdown-item" href="/categories/<%= category._id %>"><%= category.name %></a>
                                <% }); %>
                            </div>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">關於本站</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="#">聯絡站長</a>
                        </li>
                        
                    </ul>
                    
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="搜一下" aria-label="search">
                        <button class="btn btn-outline-dark my-2 my-sm-0">搜！</button>
                    </form>
                    
                </div>
                
            </nav>
        
        </div>
        
        <div class="container">
        
            <div class="row">
                
                <div class="col-md-3 col-sm-12 order-md-last">
                    <!--google ad-->
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                
                <div class="col-md-9 col-sm-12 order-md-first">

