<% include ./partials/header %>

<h2>關於本站</h2>

<p>Vantopics （原名一日一題溫哥華）放送各種隨機話題，不談政治八卦，只聊生活娛樂，歡迎各種討論。</p>
<p>本站於2013年2月創立，那個時候，Vantopics 簡直就像一張白紙，什麽都沒有。經過筆者持續不斷的研究，除了希望本站外觀能讓讀者看的舒心以外，還盡力把筆者所知道的一切跟大家分享。後來本站因為筆者無心經營的關係，曾經一度被冷落。一直到2014年2月才重新開始，儘量以一週兩篇文章的速度的成長。</p>
<p>Vantopics 不只是普通的日記，筆者的目的是想在網路上分享各種知識，有關於吃的、玩的介紹，也有關於技術的、學問的討論。筆者相信每個人都有自己擅長的事情，但對於筆者來說，尋找自己做的最好的事情曾經是困擾筆者的一個重大問題，因為筆者並沒有很精通任何一樣東西，反倒是幾乎每樣都接觸過，而且都是真心想要去了解的。所以在 Vantopics 這個 Blog，是任何話題都可能出現的 ，喜歡就多看兩眼，不喜歡也沒有人強迫你看。</p>
<p>目前來說，Vantopics 還是個初來網路報到的菜鳥，盼各位多關照指教！謝謝！</p>

<% include ./partials/footer %>