<% include ./partials/header %>

<h2>聯絡站長</h2>

<p>如果您有任何意見或問題，可以通過以下的表格與我聯絡，我會儘快回覆。感謝！</p>

<div class="container border">
        
        <form id="contactForm" action="/contact" method="POST">
            
            <div class="form-group">
                <label for="name">名稱 *</label>
                <input type="text" class="form-control" name="contact[name]" required>
            </div>
            
            <div class="form-group">
                <label for="email">電郵 *</label>
                <input type="email" class="form-control" name="contact[email]" required>
            </div>
            
            <div class="form-group">
                <label for="firstPara">內容 *</label>
                <textarea class="form-control" name="contact[content]" required rows="5"></textarea>
            </div>
            
            <div class="g-recaptcha form-group" data-sitekey="<%= process.env.RECAPTCHA_SITEKEY %>"></div>
            
            <div class="form-group"><button type="submit" class="btn btn-success">發送</button></div>
            <div class="form-group"><a href="/" class="btn btn-danger">取消</a></div>
            
            
        </form>

</div>

<% include ./partials/footer %>