<% include ./partials/header %>

<div class="ui container">
    
    <div class="ui grid">
        
        <div class="row">
            
            <div class="sixteen wide mobile eight wide tablet four wide computer column">
                
                index
                
            </div>
            
        </div>
        
    </div>
    
</div>




<% include ./partials/footer %>