<% include ../../partials/header %>

<h2>所有文章分類</h2>

<ul class="list-group">
    <% categories.forEach(function(category){ %>
        <% var num = 0; %>
        <% posts.forEach(function(post){ %>
            <% if(post.category.id == category.id){ %>
               <% num += 1; %>
            <% } %>
        <% }); %>
        <li  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <a href="/categories/<%= category.id %>"><%= category.name %></a>
            <span class="badge badge-secondary"><%= num %></span>
        </li>
    <% }); %>
</ul>

<% include ../../partials/footer %>
