.container {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#adminForm {
    margin-top: 50px;
}

.btn {
    margin-top: 10px;
    margin-right: 5px;
}

p {
    margin-bottom: 10px;
}

#authorAndDate {
    color: grey;
    text-align: right;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 30px;
}

.cse .gsc-control-cse, .gsc-control-cse {
    background-color:transparent !important;
}