<% include ../partials/admin-header %>

<div class="row">
    <div class="col">
        <h4>所有文章分類</h4>
    </div>
    <div class="col" align="right">
        <a href="/admin/categories/new">創建新分類</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <th>分類</th>
            <th>簡介</th>
        </thead>
        <tbody>
            <% categories.forEach(function(category){ %>
                <tr>
                    <td><a href="#"><%= category.name %></a></td>
                    <td><%= category.description %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<% include ../partials/admin-footer %>