<% include ../partials/admin-header %>

        <div class="container border">
                
                <form id="profileForm" action="/admin/users/<%= currentUser.id %>?_method=PUT" method="POST">
                    
                    <h2>更新個人資料</h2>
                    
                    <div class="form-group">
                        <label for="displayName">暱稱</label>
                        <input class="form-control" type="text" name="user" value="<%= currentUser.displayName %>">
                    </div>
                    
                    <!--<div class="form-group">
                        <label for="password">舊密碼</label>
                        <input class="form-control" type="password" name="password" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="password">新密碼</label>
                        <input class="form-control" type="password" name="password">
                    </div>
                    
                    <div class="form-group">
                        <label for="password">確認新密碼</label>
                        <input class="form-control" type="password" name="password">
                    </div>-->
                    
                    <div class="form-group"><button type="submit" class="btn btn-success">發送</button>
                    <a href="/admin" class="btn btn-danger">取消</a></div>
                    
                </form>
        
        </div>
        
<% include ../partials/admin-footer %>
