<% include ../partials/admin-header %>

    <div class="container border">
        
        <form id="postForm" action="/posts" method="POST">
            
            <h1>寫新文章</h1>
            
            <div class="form-group">
                <label for="title">標題</label>
                <input type="text" class="form-control" name="post[title]" required>
            </div>
            
            <div class="form-group">
                <label for="title">第一段</label>
                <input type="text" class="form-control" name="post[firstPara]" required rows="5" placeholder="把第一段複製到這裡">
            </div>

            <div class="form-group">
                <label for="content">內容</label>
                <textarea id="tiny" class="form-control" name="post[content]" rows="20"></textarea>
            </div>
            
            
            
<!--            <div class="form-group">
                <label for="tag">標籤</label>
                <input type="text" class="form-control" name="post[tag]" required>
            </div>-->
            
            <button type="submit" class="btn btn-sucess">發佈</button>
<!--            <button type="save" class="btn btn-warning">儲存草稿</button>
            <button type="cancel" class="btn btn-danger">取消</button>-->
            
        </form>

        
    </div>

<% include ../partials/admin-footer %>